  :root {
    --text-color: #757575;
    --logo-color: #2196f3;
    --fon-color: #ffffff;
    --titel-color: #212121;
    --fon-hero-color: #2f303a;
    --team-colof: #f5f4fa;
    --icon-color: #AFB1B8;
    --border-portfolio-color: #eeeeee;
    --paddidng-top-section: 94px;
    --paddidng-bottom-section: 94px;
    --time-animacion: cubic-bezier(0.4, 0, 0.2, 1);
  }


  body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--fon-color);
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  a.current {
    color: var(--logo-color);
  }

  .current-sate {
    position: relative;
  }

  .current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--logo-color);
    border-radius: 2px;
  }

  /* --------------ШАПКА--------------- */
  .header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
  }

  /* ------------КОНТАКТИ----------- */
  .nav-herder {
    display: inline-flex;
    margin-left: auto;
  }

  .icon-nav.envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-nav.smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .icon-nav.smartphone:hover,
  .envelope:hover,
  .icon-nav.smartphone:hover,
  .envelope:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    fill: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact:hover,
  .contact:focus {
    color: var(--logo-color);
    fill: var(--logo-color);
  }

  /* --------------ЛОГО-----------------*/
  .logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    color: var(--titel-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

  .web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
  }

  /* ---------------САЙТИ-------------- */


  .nav-contact {
    display: flex;
    align-items: center;
  }

  .nav-main {
    display: flex;
    align-items: center;
  }

  .nav-item {
    display: flex;
    margin-left: 93px;
  }

  .item+.item {
    margin-left: 50px;
  }

  .sate {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--titel-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .sate:hover,
  .sate:focus {
    color: var(--logo-color);
  }


  /* --------------ГЕРОЙ------------- */
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-fone.jpg);
    background-color: var(--fon-hero-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }



  .hero-text {
    width: 696px;
    margin: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: var(--fon-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* --------------ПЕРЕЛІК РОБІТ--------------- */
  .work {
    padding-top: var(--paddidng-top-section);
    padding-bottom: var(--paddidng-bottom-section);
  }



  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .work-benefis {
    display: flex;
  }

  .benefits-item+.benefits-item {
    margin-left: 30px;
  }

  .group-cont {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--team-colof);
  }

  .group {
    width: 70px;
    height: 70px;

    padding: 0;
    margin: 0;
  }

  .benefits {
    margin-top: 30px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--titel-color);
  }

  .work-lits {
    margin-top: 10px;
    line-height: 1.71;
  }


  /* -------------Чим ми займаємося------------- */
  .doing-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--titel-color);
  }

  .doing-foto+.doing-foto {
    margin-left: 30px;
  }

  .doing-position {
    position: relative;
  }

  .doing-name {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--fon-color);
    background: rgba(47, 48, 58, 0.8);
  }

  .doing {
    padding-bottom: var(--paddidng-bottom-section);
  }

  .doing-item {
    display: flex;
    flex-basis: calc((100%-60px) / 3);
    margin-top: 50px;
  }


  /* -----------------КОМАНДА---------------- */
  .team {
    padding-top: var(--paddidng-top-section);
    padding-bottom: var(--paddidng-bottom-section);
    background-color: var(--team-colof);
  }

  .team-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--titel-color);
  }

  .team-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .team-card+.team-card {
    margin-left: 30px;
  }

  .team-card {
    border-radius: 0px 0px 4px 4px;
    background: var(--fon-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .tean-name {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--titel-color);
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
  }

  .profession {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }


  /* -----------------КОМАНДА соц.сети---------------- */

  .bottom-social {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    color: var(--icon-color);
    background-color: var(--fon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }



  .bottom-social:focus,
  .bottom-social:hover {
    background-color: var(--logo-color);
    color: var(--fon-color);

  }

  .social:focus,
  .social:hover {
    fill: var(--fon-color);
    background-color: var(--logo-color);

  }

  .social-item+.social-item {
    margin-left: 10px;
  }

  .social-list {
    display: flex;
    margin-top: 16px;
    padding-bottom: 30px;
    justify-content: center;
  }


  /* --------------------Постійні клієнти---------------------- */

  .klients {
    padding-top: var(--paddidng-top-section);
    padding-bottom: var(--paddidng-bottom-section);
  }

  .titel-klient {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--titel-color);
  }

  .klients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .klients-item+.klients-item {
    margin-left: 30px;
  }

  .klients-sate {
    display: inline-flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .klients-sate:hover,
  .klients-sate:focus {
    fill: var(--logo-color);
    border: 1px solid var(--logo-color);
  }

  /* -----------------ПІДВАЛ---------------- */

  .bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--fon-color);
    background-color: var(--fon-hero-color);
  }

  /* ----------------лого подвал------------------ */
  .logo-bottom {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--fon-color);
  }

  /* ---------------------Контакти підвал-------------- */
  .footet-icon {
    display: flex;
    align-items: baseline;

  }

  .map {
    display: inline-block;
    text-decoration: none;
    line-height: 1.71;
    color: var(--fon-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .map:hover,
  .map:focus {
    color: var(--logo-color);
  }

  .address {
    font-style: normal;
    margin-top: 20px;
  }

  .contacts-bottom+.contacts-bottom {
    margin-top: 9px;
  }

  .contact-bottom {
    display: inline-block;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .contact-bottom:hover,
  .contact-bottom:focus {
    color: var(--logo-color);
  }

  .contacts-bottom+.contacts-bottom {
    margin-top: 9px;
  }

  /* ----------------СОЦ.Своя Сторінка-------------  */
  .bottom-titel {
    display: block;
    margin-left: 70px;
  }

  .come {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--fon-color);
  }

  .b-bottom-social {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    color: var(--fon-color);
    background: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .b-social {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .b-bottom-social:focus,
  .b-bottom-social:hover {
    background-color: var(--logo-color);
    color: var(--fon-color);

  }

  .b-social:focus,
  .b-social:hover {
    fill: var(--fon-color);
    background-color: var(--logo-color);
  }

  /* --------------------ФОРМА Подвал----------------------- */

  .forma {
    margin-left: auto;
  }

  .forma-invite {
    display: flex;
    align-items: center;
  }

  .forma-text {
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--fon-color);
  }

  .input-bottom {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--fon-hero-color);
    color: rgba(255, 255, 255, 0.6);
  }

  input::placeholder.input-bottom {
    color: rgba(255, 255, 255, 0.6);
  }

  .input-bottom:focus,
  .input-bottom:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }


  .submit-bottom {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--logo-color);
    color: var(--fon-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 4px;
  }

  .submit-bottom:focus,
  .submit-bottom:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .submit-icon {
    top: 13px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--fon-color);
  }

  /*-------------------------ПОРТФОЛИО--------------------- */

  .portfolio {
    padding-top: var(--paddidng-top-section);
    padding-bottom: var(--paddidng-bottom-section);
  }

  /* -------------------------КНОПКИ------------------------ */
  .button-item {
    display: flex;
    justify-content: center;
  }

  .nav-button+.nav-button {
    margin-left: 8px;
  }

  .button-portfolio {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--titel-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--team-colof);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-portfolio:hover,
  .button-portfolio:focus {
    background-color: var(--logo-color);
    color: var(--fon-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  }

  /* -------------НАШІ РОБОТИ------------------- */
  .box {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    Width: 100%;
    Height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-karts:hover .overlay,
  .projects-karts:focus .overlay {
    transform: translateX(0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .overlay-text {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.56;
    color: var(--fon-color);
  }

  .portfilio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .projects {
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--fon-color);
  }

  .projects:nth-child(3n) {
    margin-right: 0;
  }

  .projects-karts {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-karts:hover,
  .projects-karts:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .item-foto {
    display: block;
    width: 100%;
    height: auto;
  }

  /* ---------стиль рамки-------- */
  .item-h {
    padding: 20px 24px 31px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-portfolio-color);

    /* Встановить стилі нижньої рамки */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-portfolio-color);

    /* Встановить стилі лівої рамки */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-portfolio-color);
  }

  .portfolio-projects {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titel-color);
  }

  .specification-projects {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
  }

  /* ----------Модальне вікно---------- */

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    overflow: visible;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button {
    margin-top: 30px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--fon-color);
    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: var(--fon-color);
    color: var(--logo-color);
    opacity: 1;
  }


  .modal {
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fon-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

  }

  .button-close {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--fon-color);
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .button-close:focus,
  .button-close:hover {
    fill: var(--logo-color);


  }

  .icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
  }


  /* -----------------------ФОРМА----------------------- */
  .forma-modal {
    padding: 40px;
  }

  .titel-modal {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--titel-color)
  }

  .modal-input {
    display: inline-block;
    width: 448px;
    height: 40px;
    padding: 0 0 0 40px;
    margin-top: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-textarea {
    display: block;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .a-modal {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: var(--logo-color);
  }

  .label-text {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
  }

  .form-tel+.form-tel {
    margin-top: 10px;
  }

  .form-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
  }


  .form-textarea {
    margin-top: 10px;
  }

  .modal-check {
    display: flex;
    align-items: center;
    color: var(--text-color);
  }

  .check-text {
    margin-left: 9px;
  }

  .check {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
  }

  .icon-icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
  }

  .checkbox:checked+.icon-check {
    background-image: url(../images/icon-check1.svg);
    fill: var(--logo-color);
  }

  .checkbox:focus+.icon-check {
    fill: var(--logo-color);
  }

  .checkbox {
    appearance: none;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-submit {
    display: flex;
    justify-content: center;

  }

  .submit-modal {
    display: block;
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: var(--fon-color);
    background: var(--logo-color);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .submit-modal:focus,
  .submit-modal:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .modal-input:focus~.icon-modal {
    color: var(--logo-color);
    fill: var(--logo-color);
  }

  .modal-textarea:focus,
  .modal-input:focus {
    border: 1px solid var(--logo-color);
  }

  .icon-modal {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 32px;
    left: 10px;
  }